<div id="<%= dom_id event %>">

  <h2 class="text-2xl font-bold"><%= event.theme %> at <%= event.organization.title %></h2>
  <p class="my-5 flex">
    <strong class="block font-medium mb-1">On:</strong> &nbsp;
    <%= event.date %>
  </p>

  <p class="my-5">
    <%= event.description %>
  </p>

  <div class="my-5 w-full bg-gray-100 rounded p-2 overflow-y-scroll min-h-64 max-h-96">
    <% @event.images.sample(30).each do |photo| %>
      <div class="inline-block">
        <%= image_tag photo.representation(resize_to_fill: [300, 400]) %>
      </div>
    <% end %>
  </div>

</div>
