<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Galleries" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Galleries</h1>
    <%= link_to "New gallery", new_gallery_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div class="my-4 px-2">
    <%= form_with(url: gallery_search_path, method: :get, data: {turbo_frame: 'photos'}) do |form|%>
        <div class="p-2 my-2">
          <% form.label "Search" %>
          <%= form.text_field "query", html: { 'placeholder': "Search here"} %>
          <%= form.submit "Search" , class: "btn px-6 py-2 rounded bg-red-300 hover:bg-red-400 text-white"%>
        </div>
      <% end %>
  </div>

<%= turbo_frame_tag 'photos' do%>
  
<% end %>


  <div id="galleries" class="min-w-full">
    <% @galleries.each do |gallery| %>
      <%= render partial: 'gallery_card', locals: {gallery: gallery} %>
    <% end %>
  </div>
</div>
